.contactMeSection {
  width: calc(100% - 400px);
  padding-inline: 200px;
}

@media screen and (max-width: 1300px) {
  .contactMeSection {
    padding-inline: 150px;
    width: calc(100% - 300px);
  }
}

@media screen and (max-width: 1100px) {
  .contactMeSection {
    padding-inline: 100px;
    width: calc(100% - 200px);
  }
}

@media screen and (max-width: 900px) {
  .contactMeSection {
    padding-inline: 20px;
    width: calc(100% - 40px);
  }
}
