.contactMeSection {
  width: calc(100% - 400px);
  padding: 0 200px;
}

.contactMeHeading {
  font-size: 40px;
  font-family: "Nunito-Bold";
  color: #333;
  margin-bottom: 20px;
}

.contactMeDescription {
  display: block;
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.contactMeContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0;
}

.contactMeFirstSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contactMeSecondSection {
  width: 50%;
}

@media screen and (max-width: 1300px) {
  .contactMeSection {
    padding: 0 150px;
    width: calc(100% - 300px);
  }
}

@media screen and (max-width: 1100px) {
  .contactMeSection {
    padding: 0 100px;
    width: calc(100% - 200px);
  }
}

@media screen and (max-width: 900px) {
  .contactMeSection {
    padding: 0 20px;
    width: calc(100% - 40px);
  }
}

@media screen and (max-width: 700px) {
  .contactMeSecondSection {
    display: none;
  }

  .contactMeFirstSection {
    width: 100%;
  }
}
