.navbar {
  position: fixed;
  width: calc(100% - 400px);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 200px;
  background-color: var(--home-bg-color);
  z-index: 10;
}

.navbarLogo {
  width: auto;
  font-family: "Nunito-Bold";
  min-width: 100px;
}

.navbarNav {
  width: auto;
}

.navbarNavItem {
  min-width: 80px;
  width: auto;
  margin-right: 25px;
  text-decoration: none;
  color: #333;
  font-family: "Nunito-Bold";
  transition: color 0.2s;
  cursor: pointer;
}

.navbarNavItem:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 1300px) {
  .navbar {
    padding-inline: 150px;
    width: calc(100% - 300px);
  }
}

@media screen and (max-width: 1100px) {
  .navbar {
    padding-inline: 100px;
    width: calc(100% - 200px);
  }
}

@media screen and (max-width: 900px) {
  .navbar {
    padding-inline: 20px;
    width: calc(100% - 40px);
  }
}

@media screen and (max-width: 765px) {
  .navbarNavItem {
    display: none;
  }
}
