.skillsSection {
  width: calc(100% - 400px);
  padding: 0 200px;
  margin-top: 80px;
  background-color: transparent;
}

.skillsHeading {
  font-size: 40px;
  font-family: "Nunito-Bold";
  color: #333;
  margin-bottom: 20px;
}

.skillsDescription {
  display: block;
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.skillsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;
  width: 100%;
}

.skillsControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1300px) {
  .skillsSection {
    padding: 0 150px;
    width: calc(100% - 300px);
  }
}

@media screen and (max-width: 1100px) {
  .skillsSection {
    padding: 0 100px;
    width: calc(100% - 200px);
  }
}

@media screen and (max-width: 900px) {
  .skillsSection {
    padding: 0 20px;
    width: calc(100% - 40px);
  }
}

@media screen and (max-width: 402px) {
  .skillsList {
    flex-direction: column;
    align-items: center;
  }
}
