.buttonContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50px;
  height: 30px;
  border-radius: 50px;
  background-color: #fff;
  margin-right: 20px;
  padding: 0 5px;
  border-width: 2px;
  border-style: solid;
}

.innerButton {
  position: absolute;
  left: 2.5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
}